<div class="row m-0">
  <div class="my-5 mx-auto px-0 col-lg-3 col-md-4 col-sm-5">
      <div class="card">
          <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Login</h4>
            <div class="social-line">
              <a 
                (click)="onFacebookLogin()"
                href="javascript:void(0)" 
                class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a
                (click)="onGithubLogin()" 
                href="javascript:void(0)" 
                class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-github"></i>
              </a>
              <a 
                (click)="onGoogleLogin()"
                href="javascript:void(0)" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <div class="card-body ">
            <p class="card-description text-center">Or Be Classical</p>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="bmd-form-group mt-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <mat-form-field class="p-0 col-lg-8 col-md-8 col-sm-8">
                    <mat-label>Email</mat-label>
                    <input
                      formControlName="email"
                      matInput 
                      type="email" 
                      name="email" 
                      [email]="true">
                  </mat-form-field>  
                  <mat-error 
                    *ngIf="email.touched && email.hasError('required')">
                      Email is required.
                  </mat-error>
                  <mat-error 
                    *ngIf="email.touched && email.hasError('email') && !email.hasError('required')">
                      Please enter a valid email address
                  </mat-error>  
                </div>
              </div> <!-- end of bmd-form-group -->
              <div class="bmd-form-group mt-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <mat-form-field 
                    class="p-0 col-lg-8 col-md-8 col-sm-8">
                    <mat-label>Password</mat-label>
                    <input
                      formControlName="password"
                      matInput 
                      [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>       
                  <mat-error 
                    *ngIf="password.touched && password.hasError('required')">
                      Password is required.
                  </mat-error>          
                </div>
              </div> <!-- end of bmd-form-group -->
              <br>
              <div class="justify-content-center">
                <button type="submit" class="btn btn-primary mx-auto d-block" mat-raised-button>LET'S GO</button>
              </div>
            </form>
          </div> <!-- end of card-body -->
          <div class="card-footer justify-content-center">
            <a href="javascript:void(0)" [routerLink]="['/register']">
              Create an Account
            </a>
          </div>
      </div>
  </div>
</div>